


.div1{
  margin:120px auto;
  max-width:400px;
  max-height:450px;
  width:350px;
  background:white;
  border-radius:5px;
  padding:25px;
//   box-shadow: 2px 4px 0px 0;
}
.list{
    list-style: none;

}
.listLi{
    padding:5px;
    margin: 2px;
    background-color: rgb(219, 218, 218);
}